.eventsPageTitle h6 {
  margin-top: 2rem;
  color: #1e8e2c;
}
.eventsWrapper {
  display: grid;
  /* background-color: #e2f0e2; */
  grid-template-columns: minmax(1fr, 300px); /* Two columns of equal width */
  gap: 1rem; /* Gap between grid items */
  width: 100%;
  padding: 1rem; /* Padding around the container */
  box-sizing: border-box;
}
.eventContainer {
  /* background-color: #f0f0f0; */
  /* background-color: #e2f0e2;    */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px; 
  /* padding: 2rem; */
  background-color: yellow;
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  height: fit-content;
}
.left{
    width: 100%;
    background-color: red;
    height: auto;
    /* max-height: 200px; */
    flex: 1 ;
}
.left img {
    max-width: 100%;
    height: auto;   
    display: block;
    flex: 1;
  }
.middle{
    /* background-color: #262826; */
    background-color: #1e8e2c;
    flex: 1;
}














/* .eventCardTitle {
    border-bottom: 2px solid #1e8e2c;
  }
  .eventCardTitle h6 {
    font-weight: 600;
    color: #433f3f;
    font-size: 14px;
  }
  .eventDayTime {
    display: flex;
    font-size: 12px;
    padding: 0rem 0rem 0.3rem 0rem;
    align-items: center;
    column-gap: 6px;
  }
  .eventDayTime {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }
  .eventCardText {
    padding: 0rem 0rem;
  }
  .eventCardText p {
    font-size: 14px;
  }
  .eventCategory {
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: space-between;
  }
  .eventCategory span {
    background-color: #e5e5e5;
    font-size: 12px;
    padding: 5px 8px;
    border-left: 2px solid #1e8e2c;
  }
  .eventCategory button {
    background-color: #1e8e2c;
    color: #fff;
    border: none;
    font-size: 12px;
    padding: 5px 8px;
  } */
