.eventsCard {
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 100%;
  /* height: fit-content; */
  min-height: 250px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.eventsCard:hover{
  outline: 1px solid #6b9671;
  background-color: #f1f6f1;
  transition: .5s;
}
.eventCardTop{
  padding: 12px;
  flex: 1;
}
.eventCardTop hr{
  color: #ccdccc;
}
.eventTitle h6{
  color: #1e8e2c  ;
}
.eventBody{
  text-align: justify;
  font-size: .8rem !important;
  display: -webkit-box;
  -webkit-line-clamp: 5 ; /* Limits to 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* /////////////////cardbottom styles//////////////////////////// */
.eventCardBottom{
  display: flex;
  padding: 1rem 10px;
  align-items: center;
  justify-content: space-between;
}
.eventSlang{
  background-color: #e2f0e2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;

}
.eventSlang p{
  display: inline-block;
  color: #1e8e2c;
  margin: auto;
  font-size: .8rem;
  padding: 6px;
}

.eventDate span{
  font-size: 0.8rem;
  color: #999b99;
  padding-left: 6px;
}







