/* foooter */

.footerContainer {
  background-color: #433f3f;
}

.myFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem 0rem 5rem 0rem;
}

.footerCol {
  display: flex;
  flex-direction: column;
}

.footerCol h6 {
  color: #1e8e2c;
  padding: 0px 0px 2px 0px;
  font-size: 1.4rem;
  font-weight: bold;
}

.footerLinks {
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.footerLinks a,
.socialHeader {
  color: #faf9f6;
  font-size: 1rem;
  text-decoration: none;
  text-wrap: nowrap;
  cursor: pointer;
}

.footerLinks a:hover {
  color: #b7b5b1;
}

.socialIconsWrapper {
  display: flex;
  flex-direction: column;
}

.socialIcons {
  margin: 0.5rem 0.45rem 0.5rem 0.5rem;
}

.copyRightSection { 
  display: flex;
  padding: 1rem 0rem;
  align-items: center;
  justify-content: center;
}
.copyRightSection h6 {
  font-size: 1rem;
  color: #faf9f6;
  font-weight: 300;
}
